<!DOCTYPE html>
<html lang="en">

<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="assets/styles/style.css">
<title>Web Profile</title>
</head>

<body>
  <div class="card">
    <div class="imgBx">
      <img src="https://storage.cloud.google.com/utility-trees-385905/abik.jpeg?authuser=2">
    </div>
    <div class="content">
      <div class="details">
        <h2>Ahmad Hasby Bik<br><span>Software Engineer</span></h2>
        <div class="data">
          <h3>26<br><span>Day</span></h3>
          <h3>05<br><span>Month</span></h3>
          <h3>2002<br><span>Year</span></h3>
        </div>
        <div class="d-flex-2 justify-content-center">
          <a href="https://ahmadhasbybik.vercel.app/" ><i class="fas fa-globe" style="font-size:37px;"></i></a>
          <a href="https://github.com/AhmadHasbyBik" ><i class="fab fa-github" style="font-size:40px;"></i></a>
          <a href="https://instagram.com/hasbybik?igshid=ZGUzMzM3NWJiOQ==" ><i class="fab fa-instagram" style="font-size:40px;"></i></a>
          <a href="https://www.linkedin.com/in/abik-ahmad-3b0745204/" ><i class="fab fa-linkedin" style="font-size:40px;"></i></a>
          
        </div>
      </div>
    </div>
  </div>
</body>

</html>